.publi{
    display: flex;
    background-color: #e2001a;
    color: white;
    justify-content: center;
    align-items: center;
    p{
        padding: 5px;
    }
}
.link{
    padding-left: 10px;
    text-decoration: underline;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    background-color: #f8f8f8; /* Fondo opcional para visibilidad */
}

.image {
    width: 150px;
}

.image img {
    max-height: 50px; /* Ajusta el tamaño del logo si es necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.menu-header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Permite que el menú ocupe el espacio disponible */
}

.menu-header ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    display: flex; /* Alinea los elementos en una sola línea */
}

.menu-header li {
    margin: 0 15px; /* Espaciado horizontal entre los elementos de la lista */
}

.menu-header a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-weight: bold;
    color: #e2001a; /* Color del texto de los enlaces */
}


.container-slider{
height: 100px;
}
/* Degradado */
.degradado {
    background: linear-gradient(to right, 
                                rgb(226, 0, 26) 5%, 
                                rgba(226, 0, 26, 0.8) 10%,
                                rgba(226, 0, 26, 0.8) 15%,
                                rgba(226, 0, 26, 0) 30%);
    pointer-events: none; /* Asegúrate de que la capa de degradado no interfiera con los eventos del ratón */
    z-index: 20;
}
.textoSuperpuesto{
    z-index: 21;
}

